<div span class="Social">
  <div class="main">
    <div class="social-form">
      <div class="container">
        <form>

          <div class="d-flex flex-row justify-content-evenly">

            <div class="form-group d-flex flex-column flex-fill mx-3 justify-content-evenly">
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Accepts Credit Cards
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Good for Kids
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <Label>Ambience </Label>
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Classy/Modern/etc"
              />
              <Label>Noise level </Label>
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Quiet/Loud/Very Loud"
              />
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Good for Groups
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Has Parking
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
            
            </div>
  
            <div class="form-group d-flex flex-column flex-fill mx-3 justify-content-evenly">
              <Label>Price range/value for money </Label>
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Total Employees"
              />
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Reservation Allowed
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Smoking
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Wheelchair accessible
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <Label>WIFI </Label>
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Free/Paid"
              />
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Late night delivery/walk-in
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Dogs allowed
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
            </div>

          </div>

          
          


        </form>
      </div>
    </div>
  </div>
</div>
