<div class="main-panel dashboard w-100 h-100">
    <div class="top panel-menu text-primary">
        <h4>Portfolio Analysis</h4>
        <p>Comprehensive portfolio analysis to identify growth and loss detection opportunities</p>
        <div class="panel-buttons top">
            <!-- For Routing see dashboard-panel.component and add click events to all divs like so: -->
            <!-- <div class="panel-route" (click)="exampleRoute()"> -->
            <div class="panel-route" (click)="growthVisual()">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/New-Ballon.svg" class="panel-icons">+</object>
                    <div>
                        <h5>New</h5>
                        <p>Initiate a new analysis</p>
                    </div>
                </span>
            </div>
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/View-Screen.svg" class="panel-icons">V</object>
                    <div>
                        <h5>View</h5>
                        <p>Revisit saved analysis</p>
                    </div>
                </span>
            </div>
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/Review-feedback.svg" class="panel-icons">F</object>
                    <div>
                        <h5>Review</h5>
                        <p>Feedback on analytics</p>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="middle panel-menu text-primary">
        <h4>Underwriting Strategy Reactor</h4>
        <p>Wholesome Underwriting strategy reactor to generate right strategy for your portfolio</p>
        <div class="panel-buttons middle">
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/New-Ballon.svg" class="panel-icons">+</object>
                    <div>
                        <h5>New</h5>
                        <p>Initiate a new strategy</p>
                    </div>
                </span>
            </div>
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/View-Screen.svg" class="panel-icons">V</object>
                    <div>
                        <h5>View</h5>
                        <p>Revisit saved strategy</p>
                    </div>
                </span>
            </div>
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/Review-feedback.svg" class="panel-icons">F</object>
                    <div>
                        <h5>Review</h5>
                        <p>Feedback a strategy</p>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="bottom panel-menu text-primary">
        <h4>Pre-Score Lead Generator</h4>
        <p>Dynamic Pre-scored leads generator using current in-house and dynamic 3rd party data</p>
        <div class="panel-buttons bottom">
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/New-Ballon.svg" class="panel-icons">+</object>
                    <div>
                        <h5>New</h5>
                        <p>Initiate a new discovery</p>
                    </div>
                </span>
            </div>
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/View-Screen.svg" class="panel-icons">V</object>
                    <div>
                        <h5>View</h5>
                        <p>Revisit saved discovery</p>
                    </div>
                </span>
            </div>
            <div class="panel-route">
                <span class="panel-item">
                    <object type="image/svg+xml" data="../../../assets/Review-feedback.svg" class="panel-icons">F</object>
                    <div>
                        <h5>Review</h5>
                        <p>Feedback on discovery</p>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
