<div class="login h-100 w-100 login-background">
  <div class="col-md-3 col-sm-12 pt-5">
    <div class="login-form">
      <form class="w-100 d-flex flex-column align-items-center">
        <h4 class="text-white">Login to your account</h4>

        <div class="form-group w-100">
          <input
            type="text"
            class="form-control mb-2 text-primary bg-secondary"
            placeholder="Email or phone or username"
          />
        </div>

        <div class="form-group w-100">
          <input
            type="password"
            class="w-100 form-control mb-2 text-primary bg-secondary"
            placeholder="Password"
          />
        </div>

        <div class="w-100 d-flex justify-content-between">
          <div>
            <input
              type="checkbox"
              name="rememberEmail"
              id="remember-email"
            />
            <label for="rememberEmail" class="mr-5 text-white">Remember me</label>
          </div>
          <a class="text-white" href="#">Forgot Password</a>
        </div>
        
        <button
          type="submit"
          class="w-100 btn btn-primary mt-3"
          id="login-button"
          (click)="onSubmit()"
        >
          Log in
        </button>

        <p class="text-white">
          Need an account? <a class="text-white" href="#">Sign up</a>
        </p>
        
      </form>
    </div>
  </div>
</div>