.login-form {
  margin: 3% 3%;
}

.login-background {
  background-image: url("../../../assets/LoginPage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 32em;
}
