<div class="leni left-panel h-100" #leniNudgePanelDiv>
    <div class="leni-header text-primary">
        <h4>Nudges</h4>
        <p>Actionable insights</p>
    </div>
    <ul *ngIf="nudges; else noNudges" class="nudges-list">
        <li *ngFor="let nudge of nudges | slice: (page-1) * pageSize : page * pageSize" class="nudges-list">
            <div class="d-flex leni-nudge" (click)="routeToView(nudge)">
                <p class="nudge-bar">|</p>
                <p class="nudge-text">{{nudge.whatNLG}}</p>
            </div>
        </li>
    </ul>

    <ng-template #noNudges>
        <h5 class="text-danger">No nudges to display!</h5>
    </ng-template>

    <ngb-pagination 
        *ngIf="nudges"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="nudges.length"
        [maxSize]="3"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        size="sm"
        class="d-flex justify-content-center">
        <ng-template ngbPaginationPrevious>&lt;</ng-template>
        <ng-template ngbPaginationNext>&gt;</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    </ngb-pagination>
</div>