<div id="visualTitle">
  <h3>Growth Performance</h3>
  <h5>9x9 Opportunity Matrix</h5>
</div>
<div class="container">
  <div class="row d-flex flex-fill align-items-end">
    <div class="col-2 d-flex flex-column flex-fill" id="outerLabelBox">
      <div class="row d-flex flex-row flex-fill" id="Grow">
        <div class="d-flex align-items-center col-6 ">
          <h5 class="Y-Axis my-6">Growth</h5>
        </div>
        <div class="col-6 d-flex flex-column flex-fill">
          <div class="row my-auto">
            <h5>EX</h5>
          </div>
          <div class="row my-auto">
            <h5>VM</h5>
          </div>
          <div class="row my-auto">
            <h5>MO</h5>
          </div>
          <div class="row my-auto">
            <h5>S</h5>
          </div>
          <div class="row my-auto">
            <h5>N</h5>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row flex-fill" id="DG">
        <div class="col-6 d-flex flex-fill">
          <h5 class="Y-Axis my-auto">De-Growth</h5>
        </div>
        <div class="col-6 d-flex flex-column flex-fill">
          <div class="row my-auto"><h5>S</h5></div>
          <div class="row my-auto"><h5>MO</h5></div>
          <div class="row my-auto"><h5>VM</h5></div>
          <div class="row my-auto"><h5>EX</h5></div>
        </div>
      </div>
    </div>

    <div class="col-10">
      <!-- <div id="reportContainer" style="height:500px;"></div> -->
      <div id="powerbi-frame">
        <iframe
          width="1140"
          height="541.25"
          frameborder="0"
          allowFullScreen="true"
          [src]="urlSafe"
        ></iframe>
      <!-- <div id="innerLabelBox">
          <h4>S</h4>
          <h4>MO</h4>
          <h4>VM</h4>
          <h4>EX</h4>
        </div> -->
      <!-- <div class="col-2"></div> -->
    </div>
  </div>
  <div class="row text-center">
    <div class="col-2 my-auto"></div>
    <div class="col-4" id="Loss">
      <div class="row">
        <div class="col">
          <h6>Extremely</h6>
          <h6>(EX)</h6>
        </div>
        <div class="col">
          <h6>Very Much</h6>
          <h6>(VM)</h6>
        </div>
        <div class="col">
          <h6>Moderately</h6>
          <h6>(MO)</h6>
        </div>
        <div class="col">
          <h6>Slightly</h6>
          <h6>(S)</h6>
        </div>
      </div>
      <div class="row">
        <h5>Loss Making</h5>
      </div>
    </div>
    <div class="col-md-6 justify-content-around" id="Profit">
      <div class="row">
        
        <div class="col">
          <h6>Neutral</h6>
          <h6>(N)</h6>
        </div>
        <div class="col">
          <h6>Slightly</h6>
          <h6>(S)</h6>
        </div>
        <div class="col">
          <h6>Moderately</h6>
          <h6>(MO)</h6>
        </div>
        <div class="col">
          <h6>Very Much</h6>
          <h6>(VM)</h6>
        </div>
        <div class="col">
          <h6>Extremely</h6>
          <h6>(EX)</h6>
        </div>
      </div>
      <div class="row">
        <h5>Profitable</h5>
      </div>
    </div>
  </div>
  <!-- <div class="d-inline-flex" id="innerLabelBox">
     
      
     
      
      
      <h5>Slightly |</h5>
      <h5>Moderately |</h5>
      <h5>Very Much |</h5>
      <h5>Extremely |</h5>
    </div> -->
  <!-- <div class="row">
      <div class="d-inline-flex" id="outerLabelBox">
        <div id="blah1">
          
        </div>
        <div id="blah">
          
        </div>
      </div>
    </div> -->
</div>
