<div class="property">
  <div class="main">
    <div class="container">
      <div class="property-form">
        <form>
          <div class="d-flex flex-row justify-content-evenly">

            <div class="form-group d-flex flex-column justify-content-evenly flex-fill mx-3">
              <Label>Distance from coastal line </Label>
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Distance (miles)"
              />
  
             
              
              <Label>Construction type</Label>
              <input type="text" class="form-control mb-2" placeholder="type" />
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Fireplace present
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>

              
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Fire extinguisher
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
              
            </div>
            <div class="form-group d-flex flex-column justify-content-evenly flex-fill mx-3">
              <Label>Year built</Label>
              <input type="text" class="form-control mb-2" placeholder="YYYY" />
              
              <Label>Distance from nearest Fire Station</Label>
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Distance (miles)"
              />
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                  Sprinkler system present
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>


              
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                 Has emergency exit
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                 Prone to flooding
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  unchecked
                />
              </div>
  
            </div>
              
            </div>


          
         
        </form>
      </div>
    </div>
  </div>
</div>
