/* You can add global styles to this file, and also import other style files */
@import './node_modules/bootstrap/scss/_functions.scss';
@import './node_modules/bootstrap/scss/_variables.scss';


$theme-colors: (
  "primary": #0070C0ff,
  "danger": #ef476fff,
  "secondary": #CEDBE6ff,
  "success": #06d6a0ff,
  "info": #cae5ffff,
);

.navbar {
  width: 100%;
}

// .main {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   align-items: center;
//   justify-content: center !important;
// }

$nav-pills-link-active-bg:         map-get($theme-colors, "primary");
$nav-pills-link:  map-get($theme-colors, "primary");
$nav-link-color: map-get($theme-colors, "primary");
